.create-visit {
    display: none;
}

.exit {
    display: none;
}

.entry, .exit, .create-visit {
    margin: 15px;
}

.modal-footer {
    justify-content: center;

    .btn {
        width: 25%;
    }
}
.card .new {
    color: #278754;
}

