.wrapper-form{ 
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    z-index: 1;
}

.wrapper-form--display {
    display: none;

}

.optional-fields--display {
    display: none;
}

.conteiner-form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
}

.form-label {
    display: block;
}

.btn-close {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-visit {
    height: fit-content;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    position: relative;
}

.btn-details {
    width: 40%;
}

.card-visit--display {
    display: none;
}

.btn-details--display {
    display: none;
}

.btn-edit {
    width: 45%;
    position: static;
    display: inline-block;
    margin-left: 20px;
}

.card__additional-title {
    margin-top: 20px;
    color: #000000;
}

.card-container {
    position: relative;
}

.card-btn-close {
    border: 0px;
    top: 15px;
    right: 15px;
}